# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
*.suo
*.user

# Node (por si se agrega npm en el futuro)
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local

# Logs
*.log
